body {
  margin: 0;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  bottom: 0px;
}

.icon {
  width: 32px;
  height: 32px;
}
