body {
  margin: 0;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#resizeDiv {
  background-color: whitesmoke;
}
