@import "./reset.css";
@import "./variable.css";

body {
  width: 100vw;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px black solid;
  position: absolute;
}

.icon {
  width: 24px;
  height: 24px;
}

#toolBox {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
}

#imgPanel {
  position: relative;
}

.colorBox {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#mainColorBox {
  width: 24px;
  height: 86px;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: -28px;
  top: 0px;
}

#imgInfoText {
  text-align: right;
  margin-top: 3px;
  color: rgba(0, 0, 0, 0.5);
}

#previewImg {
  background-color: white;
  box-shadow: var(--main-shadow);
  position: inherit;
}
