@import "./reset.css";
@import "./variable.css";

body {
  width: 100vw;
  height: 99vh;
  display: flex;

  justify-content: center;
  align-items: center;
  border-top: 1px black solid;
  position: absolute;
}

.icon {
  width: 24px;
  height: 24px;
}

#toolBox1 {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
}

#toolBox2 {
  position: fixed;
  top: 122px;
  right: 0px;
  display: flex;
  width: 80px;
}

.imgPanel {
  position: relative;
  padding: 45px;
  margin: 10px;
}

.colorBox {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

select#extensionComboBox {
  border: none;
  position: absolute;
  color: rgba(0, 0, 0, 0.8);
  bottom: 45px;
  left: 45px;
  font-size: 15px;
  background: none;
}

.mainColorBox {
  width: 24px;
  height: 86px;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 15px;
  top: 45px;
}

#imgInfoText {
  text-align: right;
  margin-top: 3px;
  color: rgba(0, 0, 0, 0.5);
}

.previewImg {
  /* background-color: white; */
  box-shadow: var(--main-shadow);
  position: inherit;
}

#dummyCanvas {
  background-color: transparent;
}

#cropBtn {
  position: fixed;
  top: 122px;
  right: 0px;
}

#showImageOnlyLabel {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.alert-box {
  width: 400px;
  padding: 15px;
  opacity: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #dff0d8;
  position: fixed;
  bottom: 15px;
  text-align: center;
}
